@model GOCDMofApps.Models.Apps_processes

@{
    ViewBag.Title = "Delete";
}



<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h3 class="fg-darkGray">@Html.ActionLink("<<", null, null, null, new { href = Request.UrlReferrer }) | Delete:: Custom Processes</h3>
    <h6 class="fg-darkGray">Are you sure you want to delete this?</h6>
    <hr class="bg-gray" />

    <table class="table subcompact">

        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_name)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_name)</td>
        </tr>
        </tbody>        
        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_desc)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_desc)</td>
        </tr>
        </tbody>        
        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_database)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_database)</td>
        </tr>
        </tbody>        
        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_databse__user)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_databse__user)</td>
        </tr>
        </tbody>        
        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_databse__pass)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_databse__pass)</td>
        </tr>
        </tbody>        
        <thead>
        <tr>        
        <th>@Html.DisplayNameFor(model => model.sp_datasource)</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <td>@Html.DisplayFor(model => model.sp_datasource)</td>
        </tr>
        </tbody>        
    </table>   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="button alert" style="width: 100%;" />
        </div>
    }
</div>
