@model GOCDMofApps.Models.Apps_processes

@{
    ViewBag.Title = "Edit  Apps_processes";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">
                    <h3 class="fg-darkGray">@Html.ActionLink("<<", null, null, null, new { href = Request.UrlReferrer }) | Edit:: Custom processes</h3>
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
                    @Html.HiddenFor(model => model.Id)

                    @Html.EditorFor(model => model.sp_name, new { htmlAttributes = new { data_role = "input", data_prepend = "Stored Procedure: " } })
                    @Html.ValidationMessageFor(model => model.sp_name, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.sp_desc, new { htmlAttributes = new { data_role = "input", data_prepend = "Description: " } })
                    @Html.ValidationMessageFor(model => model.sp_desc, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.sp_database, new { htmlAttributes = new { data_role = "input", data_prepend = "Database: " } })
                    @Html.ValidationMessageFor(model => model.sp_database, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.sp_databse__user, new { htmlAttributes = new { data_role = "input", data_prepend = "User: " } })
                    @Html.ValidationMessageFor(model => model.sp_databse__user, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.sp_databse__pass, new { htmlAttributes = new { data_role = "input", @Type = "password", data_prepend = "Password: " } })
                    @Html.ValidationMessageFor(model => model.sp_databse__pass, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.sp_datasource, new { htmlAttributes = new { data_role = "input", data_prepend = "Datasource: " } })
                    @Html.ValidationMessageFor(model => model.sp_datasource, "", new { @class = "fg-magenta" })
                    <br/>
                    <input type="submit" value="Save" class="button yellow large" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}


