@model IEnumerable<GOCDMofApps.Models.Apps_processes>

@{
    ViewBag.Title = "Index";
}

<div style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h3 class="fg-darkGray">
        @Html.ActionLink("<<", null, null, null, new { href = Request.UrlReferrer }) | Custom Processes::
        <a href="@Url.Action("Create")" class="image-button success" style="text-decoration: none !important;">
            <span class="mif-chevron-thin-right icon"></span>
            <span class="caption">New</span>
        </a>
    </h3>
    <br />
    <table class="table striped table-border cell-border row-border compact bg-white" data-role="table">
        <thead>
            <tr>
                <th>
                    stored procedure:
                </th>
                <th>
                    manage
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sp_name) <span style="background: #ffe484; padding: 10px; border: 2px solid #f1bb28; "> DESC: @Html.DisplayFor(modelItem => item.sp_desc)</span>
                    </td>
                    <td>
                        <ul class="pagination no-gap size-large">
                            <li class="page-item">
                                <a href="@Url.Action("ActionParams",
                                        new {
                                            n = item.sp_name,
                                            ds = item.sp_datasource,
                                            db = item.sp_database,
                                            u = item.sp_databse__user,
                                            p = item.sp_databse__pass
                                        })" class="button yellow"><span class="mif-file-code icon"></span></a>
                            </li>
                            <li class="page-item">
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="button outline"><span class="mif-pencil icon"></span></a>
                            </li>
                            <li class="page-item">
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="button outline"><span class="mif-bin icon"></span></a>
                            </li>
                        </ul>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
