@model Apps_.Models.Apps

@{
    ViewBag.Title = "Create  Apps";
}

@using (Html.BeginForm("Create", "Apps", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">

                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Create new:: Apps</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { data_role = "input", data_prepend = "Name: " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.desc, new { htmlAttributes = new { data_role = "input", data_prepend = "Desc: " } })
                    @Html.ValidationMessageFor(model => model.desc, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.url, new { htmlAttributes = new { data_role = "input", data_prepend = "Url: " } })
                    @Html.ValidationMessageFor(model => model.url, "", new { @class = "fg-magenta" })

                    <br />
                    <label>Location:</label>
                    @Html.DropDownListFor(model => model.loc, new List<SelectListItem>
                        {
                            new SelectListItem() { Text = "Computer Centre Servers", Value = "Computer Centre Servers" },
                            new SelectListItem() { Text = "ICT DataCentre", Value = "ICT DataCentre" },
                            new SelectListItem() { Text = "Other", Value = "Other" }
                        }, null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.loc, "", new { @class = "fg-magenta" })

                    <div>
                        <label>Featured:</label>
                        @Html.EditorFor(model => model.featured, new { htmlAttributes = new { data_role = "input" } })
                        @Html.ValidationMessageFor(model => model.featured, "", new { @class = "fg-magenta" })
                    </div>

                    <div>
                        <label>Active&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                        @Html.EditorFor(model => model.active, new { htmlAttributes = new { data_role = "input" } })
                        @Html.ValidationMessageFor(model => model.active, "", new { @class = "fg-magenta" })
                    </div>

                    <br />
                    <label>Type:</label>
                    @Html.DropDownList("Apps_TypeId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.Apps_TypeId, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Category:</label>
                    @Html.DropDownList("Apps_CategoryId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.Apps_CategoryId, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Accessible to:</label>
                    @Html.DropDownList("Apps_UsersRoleId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.Apps_UsersRoleId, "", new { @class = "fg-magenta" })
                    <br />
                    <div class="form-group files">
                        <label>Upload Image:</label><br />
                        <input type="file" class="form-control" multiple="" name="image" id="image" accept="image/*">
                        @Html.ValidationMessageFor(model => model.image, "", new { @class = "fg-magenta" })
                    </div>

                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}

