@model GOCDMofApps.Models.Apps_Document

@{
    ViewBag.Title = "Details";
}

<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) NAME:: @Html.DisplayFor(model => model.name)</h2>
    <hr class="bg-gray" />
    <table class="table subcompact">
        <thead>
            <tr>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.desc)
                <td>
            </tr>
        </tbody>
    </table>
    <hr class="bg-gray" />
    <object data='@Url.Content(Model.media)' type='@Model.media_type' width="100%" height="1000">
        <p>Click to access <a href='@Url.Content(Model.media)'>Media Document</a></p>
    </object>
</div>
