@model GOCDMofApps.Models.Apps_Document

@{
    ViewBag.Title = "Edit  Apps_Document";
}


@using (Html.BeginForm("Edit", "Apps_Document", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
            <div class="row">
                <div class="cell-12">
                    <h2 class="fg-darkGray">@Html.ActionLink("<< Back", null, null, null, new { href = Request.UrlReferrer }) Edit:: Apps_Document</h2>
                    <hr class="bg-gray" />
                    @Html.ValidationSummary(true, "", new { @class = "fg-magenta" })
                    @Html.HiddenFor(model => model.Id)

                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { data_role = "input", data_prepend = "Name: " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "fg-magenta" })

                    @Html.EditorFor(model => model.desc, new { htmlAttributes = new { data_role = "input", data_prepend = "Description: " } })
                    @Html.ValidationMessageFor(model => model.desc, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Accessible to:</label>
                    @Html.DropDownList("Apps_UsersRoleId", null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.Apps_UsersRoleId, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Media Type:</label>
                    @Html.DropDownListFor(model => model.media_type, new List<SelectListItem>
                        {
                            new SelectListItem() { Text = "image/jpg", Value = "image/jpg" },
                            new SelectListItem() { Text = "image/png", Value = "image/png" },
                            new SelectListItem() { Text = "text/csv", Value = "text/csv" },
                            new SelectListItem() { Text = "text/html", Value = "text/html" },
                            new SelectListItem() { Text = "application/mp4", Value = "application/mp4" },
                            new SelectListItem() { Text = "application/pdf", Value = "application/pdf" }
                        }, null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.media_type, "", new { @class = "fg-magenta" })
                    <br />
                    <label>Tag:</label>
                    @Html.DropDownListFor(model => model.tags, new List<SelectListItem>
                    {
                        new SelectListItem() { Text = "Tutorials", Value = "#tuts" },
                        new SelectListItem() { Text = "How To", Value = "#how_to" },
                        new SelectListItem() { Text = "Manuals", Value = "#manuals" },
                        new SelectListItem() { Text = "Visual", Value = "#visual" },
                        new SelectListItem() { Text = "Scripts", Value = "#scripts" }
                    }, null, htmlAttributes: new { data_role = "select" })
                    @Html.ValidationMessageFor(model => model.tags, "", new { @class = "fg-magenta" })
                    <br />
                    <div class="form-group files">
                        <label>Upload Media:</label><br />
                        <input type="file" class="form-control" multiple="" name="media" id="media" value="@Model.media">
                        @Html.ValidationMessageFor(model => model.media, "", new { @class = "fg-magenta" })
                    </div>
                    <input type="submit" value="Save" class="button yellow" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
}


