<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GOCDMofApps.Controllers.HomeController.global_Identity(1) Apps Portal</title>
    @Styles.Render("~/Content/metro")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
</head>
<body>

    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_SessionTimeout.cshtml")
    }

    <div data-role="appbar" data-expand-point="md">
        <a href="@Url.Action("Index","Home")" class="brand no-hover">
            <span class="mif-apps mif-3x" style="margin-right:10px;"></span> Apps | Password Manager
        </a>
        <ul class="app-bar-menu">
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
            @if (Request.IsAuthenticated)
            {
                <li class="group-title"><span class="mif-user"></span> signed in as - @User.Identity.Name!</li>
                <li>@Html.ActionLink("Sign Out", "LogOff", "Account")</li>
            }
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="cell-2" style="background: #f8f8f8;">
                <ul class="sidebar-menu" style="margin-top: 50px">
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Identity", "Index", "Identities")</li>
                </ul>
            </div>
            <div class="cell-10">
                <br />
                <br />
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - @GOCDMofApps.Controllers.HomeController.global_Identity(4)</p>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")
    @RenderSection("scripts", required: false)

</body>
</html>
